<button (click) = "showSlim = true" >Show Slim users</button>
<button (click) = "showSlim = false">Show Firebase users</button>

<div *ngIf = showSlim>
<form [formGroup] = "addform" (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name = "name" id = "name" formControlName = "name" class = "form-control" >
    <div *ngIf = "addform.get('name').touched && addform.get('name').invalid" class="alert alert-danger">
      Name is required
    </div>         
  </div>
  <div>
    <label for="phone"></label>
    <input type="text" name = "phone" id = "phone" formControlName = "phone" class = "form-control">
    <div *ngIf = "addform.get('phone').touched && addform.get('phone').invalid" class="alert alert-danger">
        Phone is required
    </div>   
  </div>
  <input type="submit" value = "Submit new user" class = "btn btn-primary">
</form>
<ul class = "list-group">
  <li  class = "list-group-item" *ngFor="let key of usersKeys">
    <button (click) = "showUpdate(key)">Update</button>  
     Name: {{users[key].name}} Phone {{users[key].phone}}
     <div *ngIf = "updates[key]">
      <form [formGroup] = "updateform" (ngSubmit) = "updateUser(key)">
        <div>
          <label for="name"></label>
          <input type="text" name = "name" id = "name" formControlName = "name" class = "form-control" >
          <div *ngIf = "updateform.get('name').touched && updateform.get('name').invalid" class="alert alert-danger">
            Name is required
          </div>         
        </div>
        <div>
          <label for="phone"></label>
          <input type="text" name = "phone" id = "phone" formControlName = "phone" class = "form-control">
          <div *ngIf = "updateform.get('phone').touched && updateform.get('phone').invalid" class="alert alert-danger">
              Phone is required
          </div>   
        </div>
        <input type="submit" value = "Update user" class = "btn btn-primary">
      </form>       
     </div>
  </li>
</ul>
</div>
<div *ngIf = !showSlim >
  <ul>
      <ul>
    <li *ngFor = "let fuser of fusers">
      Name: {{fuser.name}} Phone: {{fuser.phone}}
    </li>
  </ul>
  </ul>
</div>